/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 29, 2018, 7:38:38 PM
    Author     : Matt
*/

#header{
    text-align: center;
}

#summaryText{
    font-style: italic;
}

/*body{
    background-color:#F5DEB3; 
}*/
body {
    width: 100wh;
    height: 90vh;
    /*color: #fff;*/
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#main{
    background-color: rgba(255,255,255,0.9);
}

#Login{
    background-color: whitesmoke;
    padding: 5px 20px 5px 5px;


}
#navigator{
    text-align: center

}

#loginForm{
    text-align: center;
    max-width: 500px;
}

.postSelect{
    border: 1px solid black;
    align-content: center;
    text-align: center;
}
.postSelect:hover{
    background-color: rgba(125,125,125,0.5);
}
hr{
    border: 1px solid rgba(125,125,125,0.5);
}
#titleOfBlog:hover{
    text-decoration: underline;
}